.cross-platform {
  position: relative;
  background: linear-gradient(89.8deg, rgba(255, 255, 255, 0.18) -6.52%, rgba(130, 175, 242, 0.18) 50.08%, rgba(5, 95, 229, 0.18) 106.69%);
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: url("../../image/section/cross-platform/background.png") no-repeat center;
    background-size: cover;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  &__text {
    width: 40%;
    p {
      border-left: 4px solid var(--blue-300);
      padding-left: 12px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
    width: 60%;
    &_content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 98px;
      border-radius: 8px;
      backdrop-filter: blur(4px);
      box-shadow: 0 4px 4px 0 #B0CDF740;
      background: var(--white-transparent);
      border: 1px solid var(--white-transparent);
      img {
        height: 48px;
        object-fit: contain;
      }
    }
  }
  &__platform {
    .cross-platform__img {
      &_macos {
        img {
          padding: 34px;
          height: 32px;
          object-fit: contain;
        }
      }
      &_windows {
        img {
          padding: 26px;
          height: 48px;
          object-fit: contain;
        }
      }
      &_linux {
        img {
          padding: 26px;
          height: 48px;
          object-fit: contain;
        }
      }
    }
  }
  &__format {
    .cross-platform__img {
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
  &__scroll {
    .cross-platform__img {
      display: block;
      position: relative;
      overflow: hidden;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 80px;
        z-index: 99999;
        background: linear-gradient(90deg, #EDF4FE 17.89%, rgba(238, 245, 255, 0) 100%);
      }
      img {
        width: 100px;
        height: 100px;
        user-select: none;
        pointer-events: none;
      }
      .swiper-slide {
        width: auto !important;
      }
    }
    .cross-platform__img:hover {
      cursor: grab;
    }
    .cross-platform__img:active {
      cursor: grabbing;
    }
  }
}

@media (max-width: 1024px) {
  .cross-platform {
    &__item {
      flex-direction: column;
      align-items: flex-start;
    }
    &__text, &__img {
      width: 100%;
    }
    &__platform {
      .cross-platform__img {
        flex-direction: column;
        align-items: flex-start;
        &_content {
          width: 100%;
        }
      }
    }
    &__format {
      .cross-platform__img {
        flex-wrap: wrap;
      }
    }
  }
}
