.faq {
  &__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__item {
    padding: 30px 40px;
    border: 2px solid var(--blue-200);
    border-radius: 12px;
    cursor: pointer;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    &_title {
      width: 90%;
    }
    &_icon {
      width: 40px;
      height: 40px;
      transform: rotate(0);
      transition: transform .3s;
    }
  }
  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease;
    &_desc {
      padding-top: 20px;
    }
  }
  &__item.active {
    background: var(--blue-transparent);
    .faq__content {
      max-height: 500px;
    }
    .faq__header_icon {
      transform: rotate(-45deg);
    }
  }
  &__span {
    display: block;
    text-align: center;
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .faq {
    &__wrap {
      grid-template-columns: 1fr;
    }
    &__header {
      height: auto;
    }
    &__item {
      padding: 20px;
    }
  }
}
