@mixin display-flex {
  display: flex;
  align-items: center;
}

.footer {
  &__up {
    @include display-flex;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid var(--gray-200);
  }
  &__link {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 69px;
    width: 50%;
    &_menu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      a {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        padding: 10px 0;
      }
      a:nth-child(2) {
        margin-left: 69px;
      }
    }
    &_email {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 12px;
    }
  }
  &__down {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 48px 0;
    &_link {

    }
    &_text {
      width: 50%;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: var(--gray-400);
    }
  }
}
@media (max-width: 768px) {
  .footer {
    &__up {
      align-items: flex-start;
      flex-direction: column;
      gap: 24px;
      padding-bottom: 30px;
    }
    &__link {
      flex-direction: column;
      width: 100%;
      gap: 24px;
      &_menu {
        grid-template-columns: 1fr;
        a:nth-child(2) {
          margin: 0;
        }
      }
      &_email {
        padding: 12px 0;
      }
    }
    &__down {
      padding: 30px 0;
      flex-direction: column;
      gap: 24px;
      &_text {
        width: 100%;
      }
    }
  }
}