@import "../font/Inter.css";
@import "../font/OpenSans.css";
@import "reset.css";
@import "header.css";
@import "footer.css";
@import "section/hero.css";
@import "section/function.css";
@import "section/cross-platform.css";
@import "section/faq.css";

@mixin display-flex {
  display: flex;
  align-items: center;
}

:root {
  --white: #FFFFFF;
  --dark: #100F14;
  --gray-800: #272727;
  --gray-400: #686D68;
  --gray-200: #D2D3D2;
  --primary: #055FE5;
  --blue-300: #B1CEF9;
  --blue-200: #CDDEF9;
  --blue-100: #F4F8FD;

  --white-transparent: #FFFFFF59;
  --primary-transparent: #055FE559;
  --blue-transparent: #CDDEF940;

  --container: 1266px;
  --container-gap: 86px;
}

@media (max-width: 1024px) {
  :root {
    --container-gap: 40px;
  }
}
@media (max-width: 768px) {
  :root {
    --container-gap: 20px;
  }
}

body {
  font-family: "Inter", system-ui;
}

a {
  display: block;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: var(--container);
  max-width: calc(100vw - var(--container-gap) * 2);
  margin: 0 auto;
}

.section-padding {
  padding: 148px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 80px;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0.2px;
}
h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.2px;
}
.text-28-m {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.2px;
}
.text-26-r {
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
}
.text-24-m {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
.text-20-sb {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.text-20-m {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.text-20-r {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.text-18-m {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.text-14-r {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@media (max-width: 768px) {
  .section-padding {
    padding: 60px 0;
  }

  .section-title {
    text-align: center;
    margin-bottom: 40px;
  }

  h1, h2 {
    br {
      display: none;
    }
  }
  h1 {
    font-size: 30px;
    line-height: 38px;
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .text-28-m {
    font-size: 20px;
    line-height: 24px;
  }
  .text-26-r {
    font-size: 20px;
    line-height: 24px;
  }
  .text-24-m {
    font-size: 18px;
    line-height: 22px;
  }
  .text-20-sb {
    font-size: 18px;
    line-height: 22px;
  }
  .text-20-m {
    font-size: 20px;
    line-height: 24px;
  }
  .text-20-r {
    font-size: 16px;
    line-height: 20px;
  }
  .text-18-m {
    font-size: 16px;
    line-height: 22px;
  }
}

.btn-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 0;
  gap: 8px;
  font-size: 20px;
  border-radius: 12px;
  background-color: var(--white);
  color: var(--white);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color .4s ease;
  svg path {
    transition: fill .4s;
  }
}
.btn-main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  transform: translateX(0);
  transition: transform .4s ease;
  z-index: -1;
}
.btn-main:hover {
  color: var(--dark);
  svg path {
    fill: var(--dark);
  }
}
.btn-main:hover::before {
  transform: translateX(100%);
}
